@media only screen and (max-width: 1024px) {
  .Community-Body {
    flex-direction: column;
  }
  .Community-Separator {
    display: none;
  }
  .Community-Additional {
    width: 100%;
    margin-top: 60px;
  }
  .Community-Page {
    max-width: auto;
    padding: 136px 8% 0 8%;
  }
  .Community-Content {
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .Community-Body {
    flex-direction: row;
  }
  .Community-Additional {
    width: 230px;
  }
  .Community-Page {
    max-width: 1129px;
    padding: 136px 20px 0 20px;
  }
  .Community-Content {
    width: 680px;
  }
}

.Community-Page {
  margin: 0 auto 0 auto;
  height: auto;
}

.Community-Breadcrumbs {
  margin-bottom: 24px;
}

.Community-Body {
  display: flex;
  justify-content: space-between;
}

.Community-HeaderContainer {
  display: flex;
  flex-direction: row;
}

.Community-Header {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  margin: 0 6px 10px 0;
}

.Community-Link {
  margin-bottom: 20px;
  height: 24px;
  font-family: Open-Sans;
}

.Community-Description {
  margin: 40px 0;
  font-family: Open-Sans;
  font-size: 14px;
  line-height: 19px;
  color: #2a2a2a;
}

.Community-Separator {
  height: auto;
  margin: 0 100px;
  background: #ababab;
}

.Community-Participants {
  width: 100%;
  height: auto;
}

.Community-ParticipantsTitle {
  font-family: Open-Sans;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
  color: #2a2a2a;
}
