.Footer {
  padding: 30px 15px 45px;
}

.Footer-Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

.Footer-LogoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 120px;
  padding-right: 110px;
  border-right-width: 1px;
  border-right-style: solid;
}

.Footer-Logo:hover,
.Footer-Logo:focus {
  opacity: 0.5;
}

.Footer-Nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Footer-Social {
  display: flex;
  justify-content: flex-end;
}

.Footer_theme_inverse {
  background-color: #6f4297;
  color: #ffffff;
}

.Footer_theme_default {
  background-color: #ffffff;
  color: #2a2a2a;
}

.Footer_theme_inverse .Footer-Logo {
  border-right-color: #ffffff;
}

.Footer_theme_default .Footer-Logo {
  border-right-color: #2a2a2a;
}

@media only screen and (max-width: 1100px) {
  .Footer-Inner {
    flex-direction: column;
    justify-content: center;
  }
  .Footer-LogoContainer {
    padding-right: 0;
    border-right: 0;
  }
}
