.content-container {
  max-width: 780px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 600px) {
  .content-container {
    padding-right: 0;
    padding-left: 0;
  }
}
