@import '../node_modules/antd/dist/antd.css';
@import './theme/font_dev.css';

.hidden {
  display: none;
}

.content {
  margin: 1rem;
}

.title {
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #444;
}

.text {
  font-size: 18px;
  color: #666;
  flex: 0 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pane {
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 10px;
}

.pane#user {
  width: 60%;
  min-height: 80px;
}

.pane#test {
  width: 80%;
  min-height: 100px;
  margin-top: 1rem;
}

.nextTab {
  margin-top: 1rem;
}

.nextTab#top {
  float: right;
  margin-top: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.page {
  height: 100%;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-display: swap;
}

.icon {
  fill: #fff;
}

.icon_black {
  fill: black;
}
