.Nav {
  display: flex;
}

.Nav_theme_inverse .Nav-Link {
  color: #ffffff;
}

.Nav_theme_default .Nav-Link {
  color: #2a2a2a;
}

.Nav-Link:hover,
.Nav-Link:focus {
  opacity: 0.5;
}

.Nav-Column {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style: none;
}

.Nav-Column:last-child {
  margin-right: 0;
}

.Nav-Item {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.Nav-Item:last-child {
  margin-bottom: 0;
}
