.ActivityAuthor {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 19px;
}

.ActivityAuthor-Avatar {
  flex-shrink: 0;
  margin-right: 10px;
}

.ActivityAuthor-Name {
  padding: 0;
  margin: 0;
  color: #2a2a2a;
}

.ActivityAuthor-Date {
  padding: 0;
  margin: 0;
  color: rgba(158, 158, 158, 0.6);
}
