.Participants {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.Participants-Item {
  margin-right: 12px;
  margin-bottom: 12px;
}

/*.Participants-Item:nth-child(4n) {*/
/*  margin-right: 0;*/
/*}*/
