.Logo {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.Logo:hover,
.Logo:focus {
  opacity: 0.5;
}

.Logo_theme_inverse {
  color: #ffffff;
}

.Logo_theme_default {
  color: #2a2a2a;
}
