.Logo {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.Logo_theme_inverse {
  color: #ffffff;
}

.Logo_theme_default {
  color: #2a2a2a;
}
