.root {
  display: flex;
  align-items: center;
}

img {
  margin-right: 20px;
  border-radius: 50%;
}

p {
  margin-bottom: 0;
}

.name {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  color: rgba(42, 42, 42, 0.9);
}

.community {
  opacity: 0.7;
  font-size: 16px;
  color: #2a2a2a;
}
