.ProfileInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-size: 36px;
}
.ProfileAvatar {
  position: relative;
  text-align: center;
}
.ProfileAvatar-Image {
  width: 100%;
  height: 100%;
}
.ProfileDescription-Name {
  font-family: 'PlayfairDisplay' serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 40px;
  margin-bottom: 0px;
}
.ProfileDescription-Company {
  font-family: 'Open-Sans' sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  margin-bottom: 0.5rem;
  color: rgba(42, 42, 42, 0.7);
}
.ProfileContacts-Email,
.ProfileContacts-Phone {
  color: rgba(42, 42, 42, 0.7);
  margin-right: 1rem;
  text-decoration: underline;
}
.ProfileInfo-About {
  width: 65%;
  font-family: 'Open-Sans' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2a2a2a;
}

.ProfileAvatar-Camera {
  position: absolute;
  bottom: 0;
  right: 0;
}
