.Button {
  display: inline-block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.Button span {
  position: relative;
}

.Button_size_m {
  font-size: 14px;
  line-height: 19px;
  padding: 14px 33px 15px;
}

.Button_size_s {
  font-size: 14px;
  line-height: 19px;
  padding: 6px 15px;
}

.Button_fluid {
  width: 100%;
  text-align: center;
}

.Button_color_primary {
  border-radius: 3px;
  background-color: #ff5762;
  color: #ffffff;
  text-decoration: none;
}

.Button_color_primary:hover,
.Button_color_primary:focus {
  background-color: #ff5762;
  border-color: #ff5762;
  box-shadow: 0px 0px 10px rgba(255, 87, 98, 0.5);
  color: #ffffff;
}

.Button_color_primary:active {
  box-shadow: 0px 0px 10px #ff5762;
  color: #ffffff;
}

.Button_color_secondary {
  border-radius: 3px;
  background-color: #ffffff;
  color: #2a2a2a;
  text-decoration: none;
}

.Button_color_secondary:hover,
.Button_color_secondary:focus {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  background-color: #fafafa;
  color: #2a2a2a;
}

.Button_color_secondary:active {
  box-shadow: 0px 0px 10px #ffffff;
  color: #2a2a2a;
}

.Button_outline {
  background: transparent;
}

.Button_color_outline {
  border-radius: 3px;
  border: 1px solid #ff5762;
  color: #ff5762;
  text-decoration: none;
}

.Button_color_outline:hover,
.Button_color_outline:focus {
  box-shadow: 0px 0px 10px rgba(255, 87, 98, 0.5);
  color: #ff5762;
}

.Button_color_outline:active {
  box-shadow: 0px 0px 10px #ff5762;
  color: #ff5762;
}
