.Button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.Button span {
  position: relative;
}

.Button_size_m {
  font-size: 14px;
  line-height: 19px;
  padding: 14px 33px 15px;
}

.Button_color_primary {
  border-radius: 3px;
  background-color: #ff5762;
  color: #ffffff;
}

.Button_color_primary:hover,
.Button_color_primary:focus {
  box-shadow: 0px 0px 10px rgba(255, 87, 98, 0.5);
  color: #ffffff;
}

.Button_color_primary:active {
  box-shadow: 0px 0px 10px #ff5762;
}
