body {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.title__header {
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title__count {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #2a2a2a;
  opacity: 0.4;
}

.title__filter {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
