body {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.title {
  width: 780px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title__header {
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

.title__count {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #2a2a2a;
  opacity: 0.4;
}

.title__filter {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title__input {
  display: none;
  margin-right: 10px;
}

.title__input--isVisible {
  display: inline-block;
}

.title__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
