.ActivityListItem {
  border: 1px solid rgba(42, 42, 42, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 28px 51px;
}

.ActivityListItem-Misc {
  display: flex;
  justify-content: space-between;
}

.ActivityListItem-TitleLink {
  font-size: 22px;
  font-weight: 600;
  color: #2a2a2a;
}

.ActivityListItem-TitleLink:hover {
  color: #2a2a2a;
  text-decoration: underline;
}

.ActivityListItem-Likes {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.ActivityListItem-LikeIcon {
  font-size: 20px;
  color: #2a2a2a;
}

.ActivityListItem-LikeIcon_islike_true {
  color: #ff5762;
}

.ActivityListItem-LikeCounter {
  margin-left: 10px;
}

.ActivityListItem-Description {
  white-space: pre-line;
}

.ActivityListItem-Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.ActivityListItem-Author {
  font-size: 14px;
  font-weight: 300;
}

.ActivityPage-WrapperContent {
  order: 2;
}

.ActivityFilter {
  display: flex;
  order: 1;
}

.ActivityFilter_visible {
  display: none;
}

@media only screen and (min-width: 1200px)  {
  .ActivityPage-WrapperContent {
    order: 1;
  }
  .ActivityFilter {
    border-left: 1px solid rgba(42, 42, 42, 0.4);
    order: 2;
  }
  .ActivityPage-Content_filter_show {
    margin-right: 100px;
  }
  .ActivityFilter-Content {
    margin-left: 100px;
  }
}

.ActivityPage-BtnFilter {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.ActivityPage-BtnFilter:hover,
.ActivityPage-BtnFilter:focus {
  color: #ff5762;
}

.ActivityPage-BtnCloseFilter {
  cursor: pointer;
  outline: none;
}

.ActivityPage-BtnCloseFilter:hover,
.ActivityPage-BtnCloseFilter:focus {
  color: #ff5762;
}
