.Activity {
  max-width: 1180px;
  padding-top: 60px;
}

.Activity-Breadcrumbs {
  margin-bottom: 24px;
}

.Activity-Wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.Activity-Content {
  flex-grow: 1;
  padding-right: 100px;
}

.Activity-AsideRight {
  display: flex;
  margin-top: 50px;
}

.Activity-AsideRightContent {
  width: 100%;
  padding-top: 20px;
}

.Activity-AsideRightItem {
  margin-bottom: 50px;
}

.Activity-AsideRightItem:last-child {
  margin-bottom: 0px;
}

.Activity-Header {
  font-size: 36px;
  line-height: 40px;
  font-family: 'PlayfairDisplay', serif;
  font-weight: 700;
}

.Activity-SecondaryHeader {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.Activity-Tags {
  margin-bottom: 30px;
}

.Activity-Description {
  padding-bottom: 36px;
  white-space: pre-line;
}

.Activity-AuthorBlock {
  margin-bottom: 40px;
}

.ActivityPage-WrapperContent {
  order: 2;
}

.ActivityFilter {
  display: flex;
  order: 1;
}

.ActivityFilter_visible {
  display: none;
}

.ActivityFilter-Content {
  width: 100%;
}

.ActivityFilter-Control {
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgba(170, 170, 170, 1);
  border-color: rgba(170, 170, 170, 1);
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  max-width: 270px;
}

.ActivityFilter-Control:hover,
.ActivityFilter-Control:focus {
  color: rgba(170, 170, 170, 0.5);
  border-color: rgba(170, 170, 170, 0.5);
  background-color: transparent;
}

.ActivityFilter-Control_selected {
  color: #2a2a2a;
  border-color: transparent;
  background-color: rgba(191, 191, 191, 0.4);
}

.ActivityFilter-Control_selected:hover,
.ActivityFilter-Control_selected:focus {
  color: #2a2a2a;
  border-color: transparent;
  background-color: rgba(191, 191, 191, 0.2);
}

.ActivityFilter-FilterControlBlock {
  margin-bottom: 30px;
}

.ActivityFilter-FilterControlLabel {
  display: block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .ActivityPage-WrapperContent {
    order: 1;
  }
  .ActivityFilter {
    border-left: 1px solid rgba(42, 42, 42, 0.4);
    order: 2;
  }
  .ActivityPage-Content_filter_show {
    margin-right: 100px;
  }
  .ActivityFilter-Content {
    margin-left: 100px;
  }
  .Activity-AsideRightContent {
    margin-left: 100px;
  }
  .Activity-AsideRight {
    border-left: 1px solid #ababab;
    margin-top: 0px;
  }
}

.ActivityPage-BtnFilter {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.ActivityPage-BtnFilter:hover,
.ActivityPage-BtnFilter:focus {
  color: #ff5762;
}

.ActivityPage-BtnCloseFilter {
  cursor: pointer;
  outline: none;
}

.ActivityPage-BtnCloseFilter:hover,
.ActivityPage-BtnCloseFilter:focus {
  color: #ff5762;
}

.FormItem input,
.FormItem textarea,
.FormItem label,
.FormItem-Select,
.FormItem-SelectDropDown ul li {
 font-size: 16px; 
}

.FormItem-Control {
  padding: 12px 16px;
  height: auto;
}

.FormItem-Select > div {
  height: 50px;
  display: flex;
  align-items: center;
}

.FormItem-Select > div > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 16px;
}

.FormItem-SelectDropDown ul li {
  padding: 6px 16px;
}