.Activity {
  max-width: 1180px;
  padding-top: 60px;
}

.Activity-Breadcrumbs {
  margin-bottom: 24px;
}

.Activity-Wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.Activity-Content {
  flex-grow: 1;
  padding-right: 100px;
  border-right: 2px solid #ababab;
}

.Activity-Meta {
  box-sizing: border-box;
  min-width: 380px;
  padding-left: 100px;
  padding-top: 20px;
}

.Activity-Community {
  margin-bottom: 50px;
}

.Activity-Header {
  font-size: 36px;
  line-height: 40px;
  font-family: 'PlayfairDisplay', serif;
  font-weight: 700;
}

.Activity-SecondaryHeader {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.Activity-Tags {
  margin-bottom: 30px;
}

.Activity-Description {
  padding-bottom: 36px;
  white-space: pre-line;
}

.ActivityPage-WrapperContent {
  order: 2;
}

.ActivityFilter {
  display: flex;
  order: 1;
}

.ActivityFilter_visible {
  display: none;
}

.ActivityFilter-Content {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .ActivityPage-WrapperContent {
    order: 1;
  }
  .ActivityFilter {
    border-left: 1px solid rgba(42, 42, 42, 0.4);
    order: 2;
  }
  .ActivityPage-Content_filter_show {
    margin-right: 100px;
  }
  .ActivityFilter-Content {
    margin-left: 100px;
  }
}

.ActivityPage-BtnFilter {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.ActivityPage-BtnFilter:hover,
.ActivityPage-BtnFilter:focus {
  color: #ff5762;
}

.ActivityPage-BtnCloseFilter {
  cursor: pointer;
  outline: none;
}

.ActivityPage-BtnCloseFilter:hover,
.ActivityPage-BtnCloseFilter:focus {
  color: #ff5762;
}
