.Program {
  position: relative;
  overflow: hidden;
}

.Program:before {
  content: 'program';
  position: absolute;
  z-index: -1;
  text-transform: uppercase;
  font-family: 'Open-Sans', sans-serif;
  font-size: 260px;
  line-height: 290px;
  text-align: center;
  font-weight: 800;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-shadow: -1px -1px 0 #ececec, 1px -1px 0 #ececec, -1px 1px 0 #ececec,
    1px 1px 0 #ececec;
}

.Program-Wrapper {
  display: flex;
  flex-direction: column;
  width: 780px;
  margin: 0 auto;
}

.Program-Heading {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 30px;
}

.Program-Button {
  align-self: center;
}
