.Popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 780px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  padding: 60px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background-image: url('../../../asset/1.png');
}

.Popup-Wrapper {
  width: 480px;
  margin: 0 auto;
}

.Popup-Header {
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  color: #2a2a2a;
  text-align: center;
  margin-bottom: 20px;
}

.Popup-Text {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #2a2a2a;
  text-align: center;
}

.Popup-Form {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.Popup-Submit {
  width: 100%;
}

.Popup-Policy {
  font-family: 'Open-Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #9e9e9e;
  text-align: center;
}

.Popup-Link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.Popup-Close {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
}

.Popup-Close:hover,
.Popup-Close:active {
  opacity: 0.75;
}

.Popup-Close:before {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  width: 20px;
  height: 5px;
  background-color: #959595;
  transform: rotate(45deg);
}

.Popup-Close:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 5px;
  background-color: #959595;
  transform: rotate(-45deg);
}
